#header {
    /* Slightly hacky CSS to get the top navbar to align flush. */
    background: #ccc;
    margin-top:-10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    border-bottom:3px solid gray;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:28px;
    font-weight: bold;
    letter-spacing: 0px;
    color: black;
}
#navbar {
    font-size:14px;
    font-family:Tahoma, Arial;
    margin:auto;
    line-height:1em;
    font-weight:normal;
    text-align:center;
}

#content {
	width:800px;
	border:1px solid #888;
	border-top-width:0px;
    font-family: Tahoma, Arial;
    font-size:10pt;
	margin:auto;
	padding:10px;
}

#output {
	width:800px;
	border:1px solid #888;
    font-family: Consolas, monospace;
    font-size:10pt;
	margin:auto;
	padding:10px;
}

/* unvisited link */
a:link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
/* visited link */
a:visited {
    color: #333;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #666;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #BBB;
    text-decoration: none;
}