{% extends "frame.html" %}
{% block title %}Labs: WM Blog Importer{% endblock %}
{% block content %}

	<p>
        The <i>Wikipedia Signpost</i> occasionally reprints stories which first appeared on the <a
            href="https://blog.wikimedia.org/">Wikimedia Blog.</a> This script assists with the process by providing
        machine-assisted translations from the latter format to the former one. For more information on this
        partnership refer to our <a
            href="https://en.wikipedia.org/wiki/Wikipedia:Wikipedia_Signpost/Newsroom/Content_guidance#Blog">content
        guidance</a>.
    </p>

    <p>
        Note that while this tool uses presets for the Wikimedia Blog, the HTML-to-Wikitext conversion that it uses
        works (up to a certain point) on any arbitrary HTML. To use it on some other blog or post you can copy-paste
        the source into the HTML transform <a
            href="http://rest.wikimedia.org/en.wikipedia.org/v1/?doc#!/Transforms/post_transform_html_to_wikitext_title_revision">directly</a>.
    </p>

<center>
<form action="blog-importer.html" method="POST">
  Blog URL: <input type="text" name="blog_post_url" value="" style="width:500px"/>
  <input type="submit" value="Submit" style="background:#efefef; border:1px solid #ddd; font-size:14px"/>
</form>
</center>

{% endblock %}