<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Signpost Tools {% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{request.url_root}}static/app.css">
</head>
<body>
	<div id="header">
		{% block header %} Signpost Labs {% endblock %}
	</div>
	<div id="content">
		{% block content %} This domain hosts some tools associated with the Wikipedia Signpost. The source code can
        be found on <a href="https://github.com/ResidentMario/signpostlab/">GitHub</a>. At the moment there are two
		tools here, the <a href="{{request.url_root}}blog-importer.html">Wikimedia Blog importer</a> and the <a
			href="{{request.url_root}}tech-news-importer.html">Tech/News importer</a>.{% endblock %}
	</div>
	<br/>
	<div id="output">
		{% block output %}
		{% if code_returned %}
        {% for line in code_returned.splitlines() %}
            {{line}}<br/>
        {% endfor %}
		{% else %}
		{% endif %}
		{% endblock %}
	</div>
</body>