<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Signpost Tools {% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "static/app.css">
</head>
<body>
	<div id="header">
		{% block header %} Signpost Labs {% endblock %}
	</div>
	<div id="content">
		{% block content %} This domain hosts some tools associated with the Wikipedia Signpost. {% endblock %}
	</div>
	<br/>
	<div id="output">
		{% block output %}
		{% if code_returned %}
        {% for line in code_returned.splitlines() %}
            {{line}}<br/>
        {% endfor %}
		{% else %}
		{% endif %}
		{% endblock %}
	</div>
</body>