{% extends "frame.html" %}
{% block title %}Labs: Tech News Importer{% endblock %}
{% block content %}

	<p>This script imports the week's Tech/News report into the <i>Wikipedia Signpost</i> "Technology report" section.

	<p>For detailed information on operating this script refer to <a href="https://github.com/ResidentMario/TN_Importer">its documentation</a> and source code on GitHub.

<center>
<form action="tn_importer" method="POST">
  <input type="submit" value="Submit" style="background:#efefef; border:1px solid #ddd; font-size:14px"/>
</form>
</center>

{% endblock %}